<div class="dashboard">
        <div class="row">
            <div class="col-md-6">
                <div class="card" style="height : 90%;">
                    <h1 class="centerText">Prime NG Chart</h1>
                    
                    <div class="d-flex flex-column justify-content-center" style="height: 100%;">
                        <p-chart type="pie" [data]="pieData"></p-chart>
                    </div>
                     
                </div>
            </div>

            <div class="col-md-6">
                <div class="card" style="height: 90%;">
                    <h1 class="centerText">Kendo UI Chart</h1>
                    <kendo-chart [seriesColors]="['orange', '#ffe']">
                        <kendo-chart-legend position="top"></kendo-chart-legend>
                        <kendo-chart-series>
                        <kendo-chart-series-item type="pie"
                            [data]="kendoPieData"
                            field="value"
                            categoryField="category">
                        </kendo-chart-series-item>
                        </kendo-chart-series>
                    </kendo-chart>
                </div>
            </div>
        </div>

    <br><br><br>
</div>
