/* You can add global styles to this file, and also import other style files */

/* Kendo UI Styles */

$base-theme:Bootstrap;
$skin-name:honorar-theme;
$swatch-name:Bootstrap;
$border-radius: 0.25rem;
$accent: #408f94;
$secondary: #e4e7eb;
$info: #387b7f;
$success: #28a745;
$warning: #ffc107;
$error: #dc3545;
$body-bg: #ffffff;
$body-color: #292b2c;
$component-bg: #ffffff;
$component-color: #292b2c;
$card-cap-bg: #f7f7f9;
$card-cap-color: #292b2c;
$series-a: #0275d8;
$series-b: #5bc0de;
$series-c: #5cb85c;
$series-d: #f0ad4e;
$series-e: #e67d4a;
$series-f: #d9534f;

@import "~@progress/kendo-theme-bootstrap/scss/all";
@import "~bootstrap/scss/bootstrap";

/* Prime NG Styles */

$primaryColor:#408f94;
$primaryTextColor:#ffffff;
$inputFocusBorderColor:#408f94;
$inputFocusBorderShadowColor:rgba(0,123,255,.25);
$highlightBgColor:#408f94;
$highlightTextColor:#ffffff;
$headerBgColor:#f5f5f5;
$headerHoverBgColor:#dcdcdc;
$headerHoverBorderColor:#c4c4c4;
$headerTextColor:#292B2C;
$headerBorderColor:#dddddd;
$headerIconColor:#999999;
$headerIconHoverColor:#bd9090;
$datableEvenRowBgColor:#f9f9f9;
$datatableHoverBgColor:#f5f5f5;
$buttonTextColor:#ffffff;
$buttonBgColor:#408f94;
$buttonBorderColor:#408f94;
$buttonHoverBgColor: darken(#408f94, 20%);
$buttonHoverBorderColor:darken(#408f94, 20%);
$buttonActiveBgColor:#408f94;
$buttonActiveBorderColor:#408f94;
$buttonFocusBorderShadow:rgba(0,123,255,.5);

@import './assets/sass/theme-v4/_theme';

$topbarLeftGradientStartBgColor:#408f94;
$topbarLeftGradientEndBgColor: lighten(#408f94, 20%);
$topbarRightGradientStartBgColor: #408f94;
$topbarRightGradientEndBgColor: lighten(#408f94, 20%);
$topbarTextColor:#ffffff;
$menuGradientStartBgColor:#ffffff;
$menuGradientEndBgColor:#ffffff;
$menuitemHoverBgColor:#e8e8e8;
$menuitemActiveColor: #408f94;
$menuitemActiveBgColor:#e8e8e8;
$menuButtonBgColor:#ffffff;
$menuButtonColor:#408f94;
$badgeBgColor: #408f94;
$badgeColor:#ffffff;
$darkMenuGradientStartBgColor:#363a41;
$darkMenuGradientEndBgColor:#363a41;
$darkMenuHoverBgColor:#4a4d54;
$darkMenuMenuitemColor:#ffffff;
$darkMenuMenuitemActiveColor:#ffe57f;
$darkMenuMenuitemActiveBgColor:#282b30;

//Bootstrap V4
@import './assets/sass/layout-v4/_layout';

// Overriding scss

.custom-logo:hover {
    box-shadow: 0 0 20px rgba(black, 0.3);
    transition: all .2s;

    &:hover {
        transform: translateY(-2px);
    }
}